# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nemuro,JP,43.3236,145.5750,53.69,68,100,16.89,overcast clouds
1,1,Mataura,NZ,-46.1927,168.8643,58.48,30,0,5.21,clear sky
2,2,Enshi,CN,30.3000,109.4833,65.14,77,98,0.36,overcast clouds
3,3,Puerto Del Rosario,ES,28.5004,-13.8627,71.35,73,75,16.11,broken clouds
4,4,Rikitea,PF,-23.1203,-134.9692,73.45,85,100,9.26,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:

# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 85

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df =city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Enshi,CN,30.3000,109.4833,65.14,77,98,0.36,overcast clouds
3,3,Puerto Del Rosario,ES,28.5004,-13.8627,71.35,73,75,16.11,broken clouds
4,4,Rikitea,PF,-23.1203,-134.9692,73.45,85,100,9.26,overcast clouds
5,5,Atuona,PF,-9.8000,-139.0333,77.47,73,45,16.67,scattered clouds
11,11,Vaini,TO,-21.2000,-175.2000,80.76,83,75,10.36,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
preferred_cities_df.count()

City_ID                348
City                   348
Country                343
Lat                    348
Lng                    348
Max Temp               348
Humidity               348
Cloudiness             348
Wind Speed             348
Current Description    348
dtype: int64

In [7]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# check to ensure all values are the same
clean_travel_cities.count()

City_ID                343
City                   343
Country                343
Lat                    343
Lng                    343
Max Temp               343
Humidity               343
Cloudiness             343
Wind Speed             343
Current Description    343
dtype: int64

In [8]:
# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Enshi,CN,30.3000,109.4833,65.14,77,98,0.36,overcast clouds
3,3,Puerto Del Rosario,ES,28.5004,-13.8627,71.35,73,75,16.11,broken clouds
4,4,Rikitea,PF,-23.1203,-134.9692,73.45,85,100,9.26,overcast clouds
5,5,Atuona,PF,-9.8000,-139.0333,77.47,73,45,16.67,scattered clouds
11,11,Vaini,TO,-21.2000,-175.2000,80.76,83,75,10.36,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [9]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng
2,Enshi,CN,65.14,overcast clouds,30.3000,109.4833
3,Puerto Del Rosario,ES,71.35,broken clouds,28.5004,-13.8627
4,Rikitea,PF,73.45,overcast clouds,-23.1203,-134.9692
5,Atuona,PF,77.47,scattered clouds,-9.8000,-139.0333
11,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000

In [10]:
# Add a new column to the hotel_df DataFrame named "Hotel Name"
hotel_df["Hotel Name"] = ""

# Sample the new hotel_df DataFrame
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Enshi,CN,65.14,overcast clouds,30.3000,109.4833,
3,Puerto Del Rosario,ES,71.35,broken clouds,28.5004,-13.8627,
4,Rikitea,PF,73.45,overcast clouds,-23.1203,-134.9692,
5,Atuona,PF,77.47,scattered clouds,-9.8000,-139.0333,
11,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,
12,Koumac,NC,78.46,broken clouds,-20.5667,164.2833,
13,Mar Del Plata,AR,63.09,clear sky,-38.0023,-57.5575,
14,Carutapera,BR,74.86,clear sky,-1.1950,-46.0200,
16,Ankazoabo,MG,71.51,clear sky,-22.2833,44.5167,
25,Ribeira Grande,PT,69.78,overcast clouds,38.5167,-28.7000,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [11]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [12]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# Display sample data
hotel_df.tail(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
665,Curug,ID,82.24,light rain,-6.2658,106.5564,BC Lintas Padat Karya
666,Avera,US,62.65,overcast clouds,33.1940,-82.5271,
667,Esperance,AU,68.59,broken clouds,-33.8667,121.9000,Hospitality Esperance
670,Mendi,PG,63.82,overcast clouds,-6.1761,143.6513,Kiburu Lodge
672,Aloleng,PH,84.09,overcast clouds,16.1307,119.7824,Aloleng
674,Benjamin Hill,MX,61.34,clear sky,30.1667,-111.1000,Hotel Benjamín Hill
679,Misratah,LY,66.92,scattered clouds,32.3754,15.0925,Almasa Hotel
681,Olinda,BR,80.33,scattered clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
682,Baculin,PH,84.74,overcast clouds,7.4525,126.5842,Baculin Cove Beach Resort
683,Vung Tau,VN,81.34,overcast clouds,10.3460,107.0843,Seaside Resort

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [30]:
# Drop the rows where there is no Hotel Name.

# First, replace blank spaces with NaN
hotel_df['Hotel Name'].replace('',np.nan, inplace=True)
hotel_df.tail(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
665,Curug,ID,82.24,light rain,-6.2658,106.5564,BC Lintas Padat Karya
666,Avera,US,62.65,overcast clouds,33.1940,-82.5271,NaN
667,Esperance,AU,68.59,broken clouds,-33.8667,121.9000,Hospitality Esperance
670,Mendi,PG,63.82,overcast clouds,-6.1761,143.6513,Kiburu Lodge
672,Aloleng,PH,84.09,overcast clouds,16.1307,119.7824,Aloleng
674,Benjamin Hill,MX,61.34,clear sky,30.1667,-111.1000,Hotel Benjamín Hill
679,Misratah,LY,66.92,scattered clouds,32.3754,15.0925,Almasa Hotel
681,Olinda,BR,80.33,scattered clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
682,Baculin,PH,84.74,overcast clouds,7.4525,126.5842,Baculin Cove Beach Resort
683,Vung Tau,VN,81.34,overcast clouds,10.3460,107.0843,Seaside Resort

In [31]:
# Then, drop null values ("NaN")
clean_hotel_df=hotel_df.dropna()

In [32]:
# Display sample data
clean_hotel_df.tail(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
663,Vila Do Maio,CV,75.99,overcast clouds,15.1333,-23.2167,Hotel Marilu
665,Curug,ID,82.24,light rain,-6.2658,106.5564,BC Lintas Padat Karya
667,Esperance,AU,68.59,broken clouds,-33.8667,121.9000,Hospitality Esperance
670,Mendi,PG,63.82,overcast clouds,-6.1761,143.6513,Kiburu Lodge
672,Aloleng,PH,84.09,overcast clouds,16.1307,119.7824,Aloleng
674,Benjamin Hill,MX,61.34,clear sky,30.1667,-111.1000,Hotel Benjamín Hill
679,Misratah,LY,66.92,scattered clouds,32.3754,15.0925,Almasa Hotel
681,Olinda,BR,80.33,scattered clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
682,Baculin,PH,84.74,overcast clouds,7.4525,126.5842,Baculin Cove Beach Resort
683,Vung Tau,VN,81.34,overcast clouds,10.3460,107.0843,Seaside Resort

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [33]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [34]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [35]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Moevenpick Enshi</dd>\n<dt>City</dt><dd>Enshi</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 65.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel JM Puerto del Rosario</dd>\n<dt>City</dt><dd>Puerto Del Rosario</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>broken clouds and 71.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le Monitel</dd>\n<dt>City</dt><dd>Koumac</dd>\n<dt>Country</dt><dd>NC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.46 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gran Hotel Mar del Plata</dd>\n<dt>City</dt><dd>Mar Del Plata</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>clear sky and 63.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lidera</dd>\n<dt>City</dt><dd>Carutapera</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 74.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ENCEIN BUREAU CISCO</dd>\n<dt>City</dt><dd>Ankazoabo</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Current Weather</dt><dd>clear sky and 71.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Quinta da Meia Eira</dd>\n<dt>City</dt><dd>Ribeira Grande</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 69.78 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [47]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
2   30.3000  109.4833
3   28.5004  -13.8627
4  -23.1203 -134.9692
5   -9.8000 -139.0333
11 -21.2000 -175.2000
12 -20.5667  164.2833
13 -38.0023  -57.5575
14  -1.1950  -46.0200
16 -22.2833   44.5167
25  38.5167  -28.7000

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [49]:
fig=gmaps.figure()
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))